* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(117, 178, 212), rgb(217, 89, 241), yellow);
    background-attachment: fixed;
}

#main-outer-container {
    display: block;
    max-width: 60%;
    height: 800px;
    border: 3px solid rgb(7, 7, 88);
    margin: 20px auto;
    background-color: coral;
}

#header {
    font-size: 2em;
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid rgb(7, 7, 88);
    color: rgb(7, 7, 88);
    background-color: #fff;
}

#add-list {
    display: block;
    margin: 20px;
    border: 1px solid black;
    background-color: rgb(228, 218, 218);
}

#input {
    width: 75%;
    height: 50px;
    margin: 10px 0px 10px 10px;
    padding: 5px;
    text-align: center;
    border: 3px solid rgb(7, 7, 88);
    font-size: 20px;
    font-weight: bold;
    color: crimson;
    background-color: #fff;
}

#button {
    width: 21%;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(26, 207, 26);
    background-color: #fff;
    border: 3px solid rgb(7, 7, 88);
    background-color: #fff;
}

#button:hover {
    background-color: rgb(26, 207, 26);
    color: #fff;
}

#list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 90%;
    height: 100px;
    padding: 15px 15px;
    border: 3px solid rgb(7, 7, 88);
    margin: 20px;
    justify-content: center;
    text-align: center;
    background-color: cornsilk;
    /* grid-gap: 10px; */
}

#checkbox {
    width: 30px;
    height: 30px;
    margin: 12px;
}

#checkboxtext {
    width: 80%;
    height: 50px;
    font-size: 25px;
    color: rgb(7, 7, 88);
    font-weight: bold;
    text-align: left;
    padding: 14px;
}

#rmv {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    font-weight: bold;
    background-color: rgb(207, 23, 23);
    color: #fff;
}

#edt {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    font-weight: bold;
    background-color: rgb(23, 207, 23);
    color: #fff;
}