 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     background: linear-gradient(rgb(128, 0, 100), aqua, orange);
     background-attachment: fixed;
     padding: 10px;
 }
 
 #main-outer-container {
     max-width: 500px;
     min-width: 280px;
     background-color: rgb(255, 49, 49);
     height: 300px;
     margin: 50px auto;
     text-align: center;
     padding: 10px;
     color: white;
     border-radius: 5px;
     border: 3px solid #fff;
 }
 
 #main-outer-container:hover {
     /* opacity: 1; */
 }
 
 #header {
     background-color: rgb(16, 179, 179);
     border-radius: 5px;
     padding: 20px;
     border: 3px solid #fff;
 }
 
 #input {
     margin: 20px auto;
     padding: 5px;
     width: 50%;
     font-size: 30px;
     border: none;
     outline: none;
     border-radius: 50px;
     text-align: center;
     background-color: ;
 }
 
 #button {
     display: block;
     margin: auto;
     font-size: 30px;
     font-weight: bold;
     padding: 20px;
     background-color: rgb(16, 179, 179);
     border-radius: 30%;
     color: #fff;
     border: 3px solid #fff;
 }
 
 #button:hover {
     /* outline: 5px solid #fff;
     outline-offset: 5px;
     outline-style: ; */
     background-color: #fff;
     color: rgb(16, 179, 179);
 }
 
 #screen {
     max-width: 500px;
     min-width: 280px;
     height: 100px;
     border: 3px solid #fff;
     margin: auto;
     font-size: 40px;
     text-align: center;
     background-color: rgb(255, 49, 49);
     color: cornsilk;
     padding: 20px;
     border-radius: 5px;
 }
 
 #screen:hover {
     background-color: #fff;
     color: rgb(255, 49, 49);
 }